[submodule "docs"]
	path = docs
	url = https://github.com/pine64/bl602-docs.git
[submodule "customer_app/sdk_app_st7789/sdk_app_st7789/lvgl"]
	path = customer_app/sdk_app_st7789/sdk_app_st7789/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "components/3rdparty/ulisp-bl602"]
	path = components/3rdparty/ulisp-bl602
	url = https://github.com/lupyuen/ulisp-bl602
[submodule "components/3rdparty/tflite-bl602"]
	path = components/3rdparty/tflite-bl602
	url = https://github.com/lupyuen/tflite-bl602
[submodule "components/3rdparty/tinycbor-bl602"]
	path = components/3rdparty/tinycbor-bl602
	url = https://github.com/lupyuen/tinycbor-bl602
[submodule "components/3rdparty/lora-sx1262"]
	path = components/3rdparty/lora-sx1262
	url = https://github.com/lupyuen/lora-sx1262
